/*
  colors
  0092D8
  333333
  EBF2F6
  999999
  FFFFFF
 */
header{
  text-align: center;
  border-bottom: 7px solid blue;
  padding: 25px;
}
#login {
  padding: 25px;
}
.search {
  padding: 25px;
  text-align: left;
}

/* #search {
  justify-content: space-around;
  display:flex;
} */

footer {
  text-align: center;
}

.input {
  display: block;
  margin: 20px 0;
}

#myCity {
  float: right;
}
/* #artist {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  background-color: blue;
  color: white;
  font-size: x-large;
}

#city {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  background-color: blue;
  color: white;
  font-size: x-large;
} */
